html,
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr))
}

.full-body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  display: grid;
  grid-template-columns: repeat(2);
  justify-items: center;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  background: #1e1e2f;
  padding: 10px;
}

.js-input {
  margin-top: 25px;
  outline: none;
  padding: 4px;
  width: 280px;
  height: 80px;
  border-radius: 20px;
  background: #ecf0f1;
  color: #1e1e2f;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 32px;
  overflow-x: auto;
  white-space: nowrap;
  text-align: right;
  direction: ltr;
  pointer-events: none;
  /* disables mouse click */
  user-select: none;
}

.btn-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: fit-content;
}

.js-btn {
  box-shadow: #ecf0f1;
  padding: 14px 24px;
  border: none;
  border-radius: 20px;
  background: #34495e;
  color: #fff;
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: medium;
}

button:hover {
  filter: brightness(1.1);
  transition: 0.2s;
}

.operators {
  background: #f39c12;
}

.equal-btn {
  background: #27ae60;
}

.clear-btn {
  background: #e74c3c;
}
